<!-- NOTE: If you're working offline, you might have to change the DOCTYPE 
	to the following: <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate 
	Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> -->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.samenea.seapay.bank.service.gateway.plugin.mellat.model.UnknownTransaction" />
        <mapping class="com.samenea.seapay.bank.model.BankTransactionInfo" />
        <mapping class="com.samenea.seapay.bank.utils.model.CutOffItem"/>
	</session-factory>
</hibernate-configuration>