<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:hdiv="http://www.hdiv.org/schema/hdiv"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.hdiv.org/schema/hdiv http://www.hdiv.org/schema/hdiv/hdiv.xsd">

    <context:spring-configured/>
    <context:load-time-weaver aspectj-weaving="on"/>
    <bean  class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor">
        <property name="exposeProxy" value="false"  />
    </bean>
    <tx:annotation-driven mode="aspectj"/>

    <context:component-scan base-package="com.samenea.seapay">
        <context:exclude-filter type="regex" expression="com.samenea.seapay.web.*"/>
    </context:component-scan>
    <context:component-scan base-package="com.samenea.commons.tracking"/>

    <bean id="environment" class="com.samenea.commons.component.utils.DefaultEnvironment"/>
    <bean id="paymentSessionFactory" class="com.samenea.seapay.session.model.SessionFactory"/>
    <bean id="transactionFactory" class="com.samenea.seapay.transaction.model.TransactionFactory"/>
    <bean id="orderFactory" class="com.samenea.seapay.merchant.model.OrderFactory"/>

    <!--Hibernate Repository beans-->
    <import resource="classpath:contexts-commons-hibernate/datasource.xml"/>
    <import resource="classpath:contexts-commons-hibernate/repository.xml"/>
    <import resource="classpath:contexts-commons-hibernate/transaction-manager.xml"/>

    <import resource="contexts/config.xml"/>
    <import resource="classpath*:/contexts/scheduler.xml"/>
    <import resource="classpath:contexts-tracking/*.xml"/>
    <import resource="classpath:context-idgenerator/*.xml" />
    <!--<import resource="classpath*:transaction-service-context.xml" />-->
    <!--<import resource="classpath*:merchant-service-context.xml" />-->
    <!--<import resource="classpath*:bank-service-context.xml" />-->

</beans>
